@model AV_BugTracker.Models.Project

@{
	ViewBag.Title = "Details";
}


<div>
	<h2 class="text-center">Project Details</h2>
	@*<p class="text-center">This project has @Model.Tickets.Count tickets</p>*@
	<hr />
	<div class="container">
		<div class="row">
			<div class="col table table-responsive btn-gradient card bg-primary btn-air-primary">
				<table class="table table-responsive">
					<tr class="text-center width">
						<th>
							@Html.DisplayNameFor(model => model.Name)
						</th>

						<th>
							@Html.DisplayNameFor(model => model.Created)
						</th>

						<th>
							@Html.DisplayNameFor(model => model.Description)
						</th>

						<th>
							@Html.DisplayNameFor(model => model.IsArchived)
						</th>
						<th></th>
						<th>
							Ticket Count 
						</th>
					</tr>

					<td>
						@Html.DisplayFor(model => model.Name)
					</td>

					<td>
						@Html.DisplayFor(model => model.Created)
					</td>

					<td>
						@Html.DisplayFor(model => model.Description)
					</td>

					<td>
						@Html.DisplayFor(model => model.IsArchived)
					</td>

					<td>
						@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |

						@Html.ActionLink("Back to List", "Index")
					</td>
					<td>
						This project has @Model.Tickets.Count tickets
					</td>
				</table>
			</div>
		</div>
	</div>
</div>
<br />
<br />
<div class="container">
	<div class="row">
		<div class="col">
			<div class="div">
				<div class="text-center">
					<button class="btn btn-gradient width btn-air-primary text"><a href=@Url.Action("Index", "Projects")>Back to Projects List</a></button>
				</div>
				<br />
				<div class="text-center">
					<button class="btn btn-gradient width btn-air-primary text"><a href=@Url.Action("Index", "Tickets")>Back to Tickets List</a></button>
				</div>
			</div>
		</div>
	</div>
</div>
<hr />

@if (User.IsInRole("Submitter"))
{
	using (Html.BeginForm("Create", "Tickets", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<div class="container">
			<div class="row">
				<div class="col table-responsive btn-gradient card bg-primary btn-air-primary">
					<h2 class="text-center">Create Ticket</h2>
					<div class="form-horizontal">
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						@Html.Hidden("ProjectId", Model.Id)
						@Html.Hidden("OnPage", true)


						<div class="form-group text-center">
							@Html.Label("Ticket Priority", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col">
								@Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })
							</div>
						</div>

						<div class="form-group text-center">
							@Html.Label("Ticket Type", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col">
								@Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control" })
							</div>
						</div>

						<div class="form-group text-center">
							@Html.Label("Issue", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col">
								@Html.Editor("Issue", new { htmlAttributes = new { @class = "form-control" } })
							</div>
						</div>

						<div class="form-group text-center">
							@Html.Label("Issue Description", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col">
								@Html.TextArea("IssueDescription", new { @cols = "80", @rows = "8", @style = "width:100%;" })
							</div>
						</div>


						<div class="form-group">
							<div class="col text-center">
								<input type="submit" value="Create" class="btn width btn-dark btn-air-primary" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="div">
						<div class="text-center">
							<input type="submit" value="Create Ticket" class="btn width btn-gradient btn-air-primary" />
						</div>
						<br />
						<div class="text-center">
							<button class="btn btn-gradient width btn-air-primary text"><a href=@Url.Action("Index", "Tickets")>Back to Tickets List</a></button>
						</div>
						<br />
						<div class="text-center">
							<button class="btn btn-gradient width btn-air-primary text"><a href=@Url.Action("Index", "Projects")>Back to Projects List</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
		<br />
	}
}

