@model AV_BugTracker.ViewModels.ProjectViewModel
@using AV_BugTracker.Helpers;

@{
	ViewBag.Title = "Index";
	var projectHelper = new ProjectHelper();
}


@if (User.IsInRole("Developer") || User.IsInRole("Submitter") || User.IsInRole("ProjectManager"))
{
	<h2 class="text-center">My Projects</h2>
	if (Model.MyProjects.Count() == 0)
	{
		<h3 class="text-center">You have no assigned projects to display</h3>
	}
	else
	{
		<div class="row">
			<div class="col table-responsive btn-gradient card bg-primary btn-air-primary">
				<table class="table">
					<thead>
						<tr>
							<th>
								@Html.DisplayName("Name")
							</th>
							<th>
								@Html.DisplayName("Created")
							</th>
							<th>
								@Html.DisplayName("Archived?")
							</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						@foreach (var item in Model.MyProjects)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Created)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.IsArchived)
								</td>
								<td>
									@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
									{
										@Html.ActionLink("Edit", "Edit", new { id = item.Id })<span>|</span>;
									}
									@Html.ActionLink("Details", "Details", new { id = item.Id })
								</td>
							</tr>
						}
					</tbody>

				</table>
			</div>
		</div>
	}

	<br />
	<br />
}


<h2 class="text-center">All Projects</h2>

@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
{
	<button class="btn-gradient btn-air-primary"><a class="text" href=@Url.Action("Create", "Projects")>Create New</a></button>
	<br />
	<br />
}

@if (Model.AllProjects.Count() == 0)
{
	<h3>You have no projects to display</h3>
}
else
{
	<div class="row">
		<div class="col table-responsive btn-gradient card bg-primary btn-air-primary">
			<table class="table">
				<thead>
					<tr>
						<th>
							@Html.DisplayName("Name")
						</th>
						<th>
							@Html.DisplayName("Created")
						</th>
						<th>
							@Html.DisplayName("Archived?")
						</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					@foreach (var item in Model.AllProjects)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Created)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.IsArchived)
							</td>
							@if (projectHelper.CanEditProject(item.Id))
							{
								<td>
									@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
									@Html.ActionLink("Details", "Details", new { id = item.Id })
								</td>
							}
							@if (projectHelper.CanEditProject(item.Id) != true)
							{
								<td></td>
							}
						</tr>
					}
				</tbody>

			</table>
		</div>
	</div>
}

<br />
<br />


@section Scripts
{
	<script>
		$('.table').DataTable();
	</script>
}

