@using AV_BugTracker.Models;
@using AV_BugTracker.Helpers;
@model IEnumerable<ApplicationUser>

@{
	ViewBag.Title = "ManageProjectUsers";
	var projectHelper = new ProjectHelper();
}

<h2 class="text-center">Manage Project Users</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="container">
		<div class="col table-responsive btn-gradient card bg-primary btn-air-primary">
			<div class="row">
				<div class="col-6">
					<h2>Select Users</h2>
					@Html.ListBox("UserIds")
				</div>
				<div class="col-6">
					<h2>Select Project</h2>
					@Html.ListBox("ProjectIds")
				</div>
			</div>
		</div>
	</div>

	<br />
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<button class="btn width btn-gradient btn-air-primary" type="submit">Add/Remove User(s)</button>
			</div>
		</div>
	</div>
}

<hr />

<table class="table">
	<tr>
		<th>
			@Html.DisplayName("User")
		</th>
		<th>
			@Html.DisplayName("Assigned Projects")
		</th>
	</tr>

	@foreach (var person in Model)
	{
		<tr>
			<td>
				@person.Email
			</td>
			<td>
				@foreach (var project in projectHelper.ListUserProjects(person.Id))
				{
					@project.Name<br />
				}
			</td>
		</tr>
	}

</table>

