
@using AV_BugTracker.Models;
@using AV_BugTracker.Helpers;
@model IEnumerable<ApplicationUser>

@{
	ViewBag.Title = "ManageRoles";
	var roleHelper = new UserRoleHelper();
}



<h2 class="text-center">Manage Roles</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="container">
		<div class="row">
			<div class="col table-responsive btn-gradient card bg-primary btn-air-primary">
				<div class="form-group text-center">
					@Html.Label("Registered Users", htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col">
						@Html.ListBox("UserIds")
					</div>
				</div>

				<div class="form-group text-center">
					@Html.Label("System Roles", htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col">
						@Html.DropDownList("RoleName", "-- no role --")
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="submit" class="width btn btn-primary">Manage Role Assignment(s)</button>
			</div>
		</div>
	</div>
}

<hr />

<table class="table">
	<tr>
		<th>
			@Html.DisplayName("Email")
		</th>
		<th>
			@Html.DisplayName("Role")
		</th>
	</tr>

	@foreach (var person in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => person.Email)
			</td>
			<td>
				@roleHelper.ListUserRoles(person.Id).FirstOrDefault()
			</td>
		</tr>
	}

</table>
