@model AV_BugTracker.Models.Ticket

@{
	ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h2 class="text-center">Edit Ticket</h2>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)
		@Html.HiddenFor(model => model.ProjectId)
		@Html.HiddenFor(model => model.Created)
		@Html.HiddenFor(model => model.SubmitterId)

		<div class="container">
			<div class="row">
				<div class="col table-responsive btn-gradient card bg-primary btn-air-primary">
					<div class="form-group text-center">
						@Html.LabelFor(model => model.TicketPriorityId, "TicketPriorityId", htmlAttributes: new { @class = "control-label col-md-2 text-center" })
						<div class="col">
							@Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.TicketPriorityId, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group text-center">
						@Html.LabelFor(model => model.TicketStatusId, "Ticket Status", htmlAttributes: new { @class = "control-label col-md-2 text-center" })
						<div class="col">
							@Html.DropDownList("TicketStatusId", null, htmlAttributes: new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.TicketStatusId, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group text-center">
						@Html.LabelFor(model => model.TicketTypeId, "Ticket Type", htmlAttributes: new { @class = "control-label col-md-2 text-center" })
						<div class="col">
							@Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group text-center">
						@Html.Label("Developer", htmlAttributes: new { @class = "control-label col-md-2 text-center" })
						<div class="col">
							@Html.DropDownList("DeveloperId", null, "--choose one--", htmlAttributes: new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.DeveloperId, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group text-center">
						@Html.LabelFor(model => model.Issue, htmlAttributes: new { @class = "control-label col-md-2 text-center" })
						<div class="col">
							@Html.EditorFor(model => model.Issue, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Issue, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group text-center">
						@Html.Label("Issue Description", htmlAttributes: new { @class = "control-label col-md-2 text-center" })
						<div class="col">
							@Html.EditorFor(model => model.IssueDescription, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.IssueDescription, "", new { @class = "text-danger" })
						</div>
					</div>

					@*<div class="form-group text-center">
							@Html.Label("Resolved?", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col">
								<div class="checkbox">
									@Html.CheckBoxFor(model => model.IsResolved)
									@Html.ValidationMessageFor(model => model.IsResolved, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>

						<div class="form-group text-center">
							@Html.Label("Archive?", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col">
								<div class="checkbox">
									@Html.CheckBoxFor(model => model.IsArchived)
									@Html.ValidationMessageFor(model => model.IsArchived, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>*@
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="div">
					<div class="text-center">
						<input type="submit" value="Save Your Edits" class="btn width btn-gradient btn-air-primary" />
					</div>
					<br />
					<div class="text-center">
						<button class="btn btn-gradient width btn-air-primary text"><a href=@Url.Action("Index", "Tickets")>Back to Tickets List</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
}


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
